*{
    padding: 0;
    margin: 0;
  }
  .navbar {
    background: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar-logo {
    color: #e28101;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  .navbar-logo span{
    color: rgb(192, 0, 38);
  }
  
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: .1rem;
  }
  
  .nav-links:hover {
    color: #e28101;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media (max-width: 960px) {
    .navbar {
      position: relative;
    }

    .navbar-logo {
      color: #e28101;
      justify-self: start;
      margin-left: 0px;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      line-height: 35px;
      font-size: 25px;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: black;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      top: 70px;
    }
    .nav-links {
      text-align: center;
      padding: .5rem;
      width: 100%;
    }
  
    .nav-links:hover {
      color: #e28101;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon{
      display: block;
      position: absolute;
      top: 15px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.2rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 1.2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1rem;
      margin: .5rem auto;
      border-radius: 4px;
      width: 30%;
      background: #e28101;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #6568f4;
      transition: 250ms;
    }
  
    Button {
      display: none;
    }
  }
  